@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
body, html {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #2B2B2B;
}

.hero.is-dark .tabs.is-boxed li.is-active a,
.hero.is-dark .tabs.is-boxed li.is-active a:hover,
.hero.is-dark .tabs.is-toggle li.is-active a,
.hero.is-dark .tabs.is-toggle li.is-active a:hover {
    background-color: #2B2B2B;
    border-color: #2B2B2B;
    color: white;
}

.title {
    color: white;
}

.subtitle {
    color: #c3c3c3;
}

hr {
    background-color: #363636;
}

.footer {
    background-color: #363636;
    color: #b7b7b7;
    padding: 3rem 1.5rem;
}

/* helpers */
.align-center {
  text-align: center;
}

/* header styles */
.header-text {
  color: #C2C2C2;
}

.header-text-large {
  font-size: 5rem;
}

.header-image {
  vertical-align: middle;
  margin-bottom: 25px;
}

/* footer styles */
.footer-em-text {
  color: white;
}

/* icon styles */
.icon-youtube-play {
  color: #FF0000;
}

.icon-twitch {
  color: #6441A4;
}
