body {
  padding-top: 20px;
  background-color: #000;
  color: darkgray;
  font-family: "Montserrat", sans-serif;
}

.alert {
    padding: 20px;
    background-color: #555;
    color: white;
    margin-top: 3%;
    align-self: flex-start;
    justify-content: center;
    position: absolute;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.header .image {
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.header .title {
  font-size: 5em;
  color: #ddd;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: white;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
  color: white;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

ul.footer-list li {
  display: inline;
  margin-right: 10px;
}
